# Arquivos de ambiente virtual
.venv/
venv/

# Arquivos de credenciais e segredos LOCAIS
.env
google_credentials.json

# Pastas de cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de output geradas pela aplicação
logs/
previews_output/

# Arquivos de configuração específicos do editor de código
.vscode/
.idea/

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db